name: CI-phpstan

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Composer install
        uses: php-actions/composer@v6

      - name: PHPStan
        uses: php-actions/phpstan@v3
        with:
          php_version: 8.3
          path: src/
          level: 10
